body{
	background-color: #2F70A9;
	color:#fff;
}
.padding-hor-o{
	padding-left: 0;
	padding-right: 0;
}
.padding-ver-o{
	padding-top: 0;
	padding-bottom: 0;
}
.padding-o{
	padding: 0;
}
.topbar-holder{
	padding-top: 10px;
}
.logo{
	display: block;
	left: 50%;
	margin-left: -50px;
	top: 0px;
	width: 100px;
	text-align: center;
	z-index: 2;
	position: absolute;
}

.profile-btn{
	padding-right:5px;
}

.icon-pad{
	padding:0 5px;
}

.cont-holder{
	padding: 15px 10px;
}

.board{
	width: auto;
	overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    flex-direction:row;
  	flex: 0 0 270px;
  	vertical-align: middle;
}

.list-holder{
	width:270px;
	height: 100%;
  	flex: 0 0 270px;
  	margin: 0 5px 10px 5px;
  	border-radius: 5px;
  	color: #333;
}

.list{
	width:270px;
  	background: #DDDDDD;
  	border-radius: 5px;
  	color: #333;
}

.cards-scrollable{
	height: 100%;
	overflow: auto;
  	overflow-x: hidden;
  	color: #333;
  	
}

.card{
	width:260px;
	padding: 5px;
	margin:5px 5px;
	background: #ffffff;
	border-radius: 3px;
	border-bottom: 1px solid #CDCCCC;
}
.card textarea{
	width:250px;
	min-width:250px;
	max-width:250px;
	border:none;
	outline: none;
}

.card-title{
	width:260px;
	padding: 5px;
	margin:5px 5px;
	font-weight: 600;
}
.card-add{
	width:260px;
	padding: 5px;
	margin:5px 5px;
}

.cav{
	display: block;
}
.cav:hover{
	cursor: pointer;
	display: block;
	text-decoration: underline;
}

.cah{
	display: none;
}

.card-options{
	width: 100%;
	display: none;
	position: absolute;
	z-index: 1;
	margin-left: 180px;
	opacity: 0.8;
	width:80px;
	padding: 5px;
	background: #DDDDDD;

}

.edit-icon:hover{
	cursor: pointer;
}
.delete-icon:hover{
	cursor: pointer;
}